<!---ADVANTAGES-->
<section class="section">
    <h2 class="header-advantages visually-hidden">Advantages</h2>
    <div class="container advantages-container">
        <ol class="list-advantages">
                <li class="item-list-advantages">
                    <h3 class="list-header-advantages">01</h3>
                    <p class="text-advantages">
                        Swimming and water sports: try your hand at water skiing
                    </p>
                </li>
                <li class="item-list-advantages">
                    <h3 class="list-header-advantages">02</h3>
                    <p class="text-advantages">
                        Fishing: try to catch your own dinner
                    </p>
                </li>
                <li class="item-list-advantages">
                    <h3 class="list-header-advantages">03</h3>
                    <p class="text-advantages">
                        Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water
                    </p>
                </li>
                <li class="item-list-advantages">
                    <h3 class="list-header-advantages">04</h3>
                    <p class="text-advantages">
                        Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.
                    </p>
                </li>
     </ol>
    
     <picture class="thumb">
            <source srcset="./img/yacht/advantages/advantages-desctop-plus.jpg 1x,
                                    ./img/yacht/advantages/advantages-desctop-plus@2x.jpg 2x" media="(min-width:1440px)" />
            <source srcset="./img/yacht/advantages/advantages-desctop.jpg 1x,
                                    ./img/yacht/advantages/advantages-desctop@2x.jpg 2x" media="(min-width:1280px)" />
            <source srcset="./img/yacht/advantages/advantages-tablet.jpg 1x,
                                    ./img/yacht/advantages/advantages-tablet@2x.jpg 2x" media="(min-width:768px)" />
            <source srcset="./img/yacht/advantages/advantages-mobile.jpg 1x,
                                    ./img/yacht/advantages/advantages-mobile@2x.jpg 2x" media="(max-width:767px)" />
            <img src="./img/yacht/advantages/advantages-desctop.jpg" alt="yacht-inside" />
     </picture>
    </div>

</section>