<footer class="footer_for_site">
  <!-- Блок - Лого, кнопки навігації, іконки -->
  <div class="div_for_logo_and_nav">
    <!--Лого-->

    <div class="div_for_logo_in_footer">
      <a href="../index.html" class="logo_link_in_footer">yachtjet</a>
    </div>
    <!--Кнопки навігації-->

    <ul class="nav_buttons_in_footer">
      <li class="body_buttons_in_footer">
        <a href="#about" class="buttons_in_footer">About</a>
      </li>
      <li class="body_buttons_in_footer">
        <a href="#our-yachts" class="buttons_in_footer">Yachts</a>
      </li>
      <li class="body_buttons_in_footer">
        <a href="#reviews" class="buttons_in_footer">Reviews</a>
      </li>
    </ul>

    <!--Іконки-->
    <ul class="ul_for_icon_in_footer">
      <li>
        <a
          href="https://www.instagram.com/goitclub/ "
          target="_blank"
          class="svg_link"
        >
          <svg class="icon_in_footer" width="24" height="24">
            <use href="./img/yacht/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/c/GoIT "
          target="_blank"
          class="svg_link"
        >
          <svg class="icon_in_footer" width="24" height="24">
            <use href="./img/yacht/symbol-defs.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/goITclub/ "
          target="_blank"
          class="svg_link"
        >
          <svg class="icon_in_footer" width="24" height="24">
            <use href="./img/yacht/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <!--Блок текст та посилання-->
  <div class="div_for_link_in_footer">
    <!--Текст-->
    <p class="text_for_footer">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </p>

    <!--Посилання-->
    <ul class="table_for_links">
      <li>
        <a href="" class="last_links_in_footer">2023. Yacht Adventures</a>
      </li>
      <li>
        <a href="" class="last_links_in_footer">Privacy Police</a>
      </li>
    </ul>
  </div>
</footer>
