<header class=" pege-header"> 
    <nav class="nav-header">
      <a class="logo-header" href="./index.html">yachtjet</a>
      <ul class="manu-header">
        <li class="manu-header-list">
          <a class="manu-header-link" href="#about">About</a>
        </li>
        <li class="manu-header-list">
          <a class="manu-header-link" href="#our-yachts">Yachts</a>
        </li>
        <li class="manu-header-list">
          <a class="manu-header-link" href="#reviews">Reviews</a>
        </li>
      </ul>
      <div class="manu-icon-header">
      <ul class="manu-icon-list-header">
        <li class="manu-icon-title-header">
          <a class="manu-icon-link-header" target="_blank" href="https://www.instagram.com/goitclub/"
            ><svg
              class="manu-icon-style-header"
              width="19"
              height="19"
              aria-label="instagram">
              <use href="./img/yacht/symbol-defs.svg#icon-instagram"></use>
              </svg></a>
        </li>
        <li class="manu-icon-title-header">
          <a class="manu-icon-link-header" target="_blank" href="https://www.youtube.com/c/GoIT"
            ><svg
              class="manu-icon-style-header"
              width="20"
              height="20"
              aria-label="youtube">
              <use href="./img/yacht/symbol-defs.svg#icon-youtube"></use></svg></a>
        </li>
        <li class="manu-icon-title-header">
          <a class="manu-icon-link-header" target="_blank" href="https://www.facebook.com/goITclub/"
            ><svg
              class="manu-icon-style-header"
              width="20"
              height="20"
              aria-label="facebook">
              <use href="./img/yacht/symbol-defs.svg#icon-facebook"></use></svg></a>
        </li>
      </ul>
    </div>  
    </nav>    
</header>
