<div class="mobile-menu-wrapper">
    <div class="container mobile-menu-container">
       <div class="mobile-menu-wrapper-logo">
            <a href="./index.html" class="mobile-menu-logo ">yachtjet</a>
            <button class="mobile-menu-close-btn" type="button">
                <svg class="mobile-menu-close-btn-icon" width="28" height="28" aria-label="Mobile menu close icon">
                 <use href="./img/yacht/symbol-defs.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        
        <nav class="mobile-menu-navigation">
            <ul class="mobile-menu-navigation-list">
                <li class="mobile-menu-navigation-item active">
                    <a href="#about" class="mobile-menu-navigation-link">
                        About
                    </a>
                </li>
                <li class="mobile-menu-navigation-item">
                    <a href="#our-yachts" class="mobile-menu-navigation-link">
                         Yachts
                    </a>
                </li>
                <li class="mobile-menu-navigation-item">
                    <a href="#reviews" class="mobile-menu-navigation-link">
                        Reviews
                    </a>
                </li>
            </ul>
        </nav>
        <ul class="mobile-menu-social-list">
            <li class="mobile-menu-social-item">
                <a href=" https://www.instagram.com/goitclub/ " target="_blank" class="mobile-menu-social-link">
                    <svg class="mobile-menu-social-icon" width="24" height="24" aria-label="Mobile menu social icon">
                        <use href="./img/yacht/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="mobile-menu-social-item">
                <a href="https://www.youtube.com/c/GoIT " target="_blank" class="mobile-menu-social-link">
                    <svg class="mobile-menu-social-icon" width="24" height="24" aria-label="Mobile menu social icon">
                        <use href="./img/yacht/symbol-defs.svg#icon-youtube"></use>
                     </svg>
                </a>
            </li>
            <li class="mobile-menu-social-item">
                <a href="https://www.facebook.com/goITclub/  " target="_blank" class="mobile-menu-social-link">
                    <svg class="mobile-menu-social-icon" width="24" height="24" aria-label="Mobile menu social icon">
                        <use href="./img/yacht/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
          
    
    </div>
</div>