<div class="mobile-menu-wrapper is-open">
    <div class="container mobile-menu-container">
       <div class="mobile-menu-wrapper-logo">
            <a href="./index.html" class="mobile-menu-logo logo">yachtjet</a>
            <button class="mobile-menu-close-btn" type="button">
                <svg class="mobile-menu-close-btn-icon" width="24" height="24" aria-label="Mobile menu close icon">
                <use href="#"></use>
                </svg>
            </button>
        </div>
        <div class="mobile-menu-wrapper-navigation-social">
            <nav class="mobile-menu-navigation">
                <ul class="mobile-menu-navigation-list">
                    <li class="mobile-menu-navigation-item active">
                        <a href="#" class="mobile-menu-navigation-link">
                            About
                        </a>
                    </li>
                    <li class="mobile-menu-navigation-item">
                        <a href="#" class="mobile-menu-navigation-link">
                            Yachts
                        </a>
                    </li>
                    <li class="mobile-menu-navigation-item">
                        <a href="#" class="mobile-menu-navigation-link">
                            Reviews
                        </a>
                    </li>
                </ul>
            </nav>
            <ul class="mobile-menu-social-list">
                <li class="mobile-menu-social-item">
                    <a href="" class="mobile-menu-social-link">
                        <svg class="mobile-menu-social-icon" width="24" height="24" aria-label="Mobile menu social icon">
                            <use href=""></use>
                         </svg>
                     </a>
                </li>
                <li class="mobile-menu-social-item">
                    <a href="" class="mobile-menu-social-link">
                        <svg class="mobile-menu-social-icon" width="24" height="24" aria-label="Mobile menu social icon">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="mobile-menu-social-item">
                    <a href="" class="mobile-menu-social-link">
                        <svg class="mobile-menu-social-icon" width="24" height="24" aria-label="Mobile menu social icon">
                           <use href=""></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
      
    

    </div>
</div>