<section class="ouryachts section" id="our-yachts">
  <div class="container">
    <h2 class="ouryachts-title title">
      Choose your dream yacht and sail away into the sunset
    </h2>

    <ul class="ouryachts-list">
      <li class="ouryachts-list-item">
        <div class="list-item-top">
          <picture>
            <source
              srcset="
                ./img/yacht/ouryachts/arrow-desctop-plus.png    1x,
                ./img/yacht/ouryachts/arrow-desctop-plus@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/yacht/ouryachts/arrow-desctop.jpg    1x,
                ./img/yacht/ouryachts/arrow-desctop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/yacht/ouryachts/arrow-tablet.jpg    1x,
                ./img/yacht/ouryachts/arrow-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/yacht/ouryachts/arrow-mobile.jpg    1x,
                ./img/yacht/ouryachts/arrow-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="list-item-top-img"
              src="./img/yacht/ouryachts/arrow-desctop.jpg"
              alt="arrow"
              width="345"
            />
          </picture>
        </div>
        <div class="list-item-bottom">
          <div class="list-item-info">
            <h3 class="list-item-info-title">Arrow</h3>
            <p class="list-item-info-text">luxury yachts</p>
          </div>
          <div class="list-item-prices">
            <ul class="list-item-prices-label">
              <li class="label-item">length</li>
              <li class="label-item">builder</li>
              <li class="label-item">built</li>
              <li class="label-item">guests</li>
              <li class="label-item">price</li>
            </ul>
            <ul class="list-item-prices-price">
              <li class="price-item">48m(155ft)</li>
              <li class="price-item">Admiral</li>
              <li class="price-item">2021</li>
              <li class="price-item">11 in 5 cabins</li>
              <li class="price-item">€33,500,000</li>
            </ul>
          </div>
        </div>
      </li>

      <li class="ouryachts-list-item">
        <div class="list-item-top">
          <picture>
            <source
              srcset="
                ./img/yacht/ouryachts/benetti-desctop-plus.png    1x,
                ./img/yacht/ouryachts/benetti-desctop-plus@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/yacht/ouryachts/benetti-desctop.jpg    1x,
                ./img/yacht/ouryachts/benetti-desctop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/yacht/ouryachts/benetti-tablet.jpg    1x,
                ./img/yacht/ouryachts/benetti-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="list-item-top-img"
              src="./img/yacht/ouryachts/benetti-desctop.jpg"
              alt="benetti"
              width="345"
            />
          </picture>
        </div>
        <div class="list-item-bottom">
          <div class="list-item-info">
            <h3 class="list-item-info-title">
              benetti oasis 40<span class="list-item-info-title-span">m b</span
              >...
            </h3>
            <p class="list-item-info-text">luxury yachts</p>
          </div>
          <div class="list-item-prices">
            <ul class="list-item-prices-label">
              <li class="label-item">length</li>
              <li class="label-item">builder</li>
              <li class="label-item">built</li>
              <li class="label-item">guests</li>
              <li class="label-item">price</li>
            </ul>
            <ul class="list-item-prices-price">
              <li class="price-item">41m (133ft)</li>
              <li class="price-item">Benetti</li>
              <li class="price-item">2025</li>
              <li class="price-item">10 in 5 cabins</li>
              <li class="price-item">€23,210,000</li>
            </ul>
          </div>
        </div>
      </li>

      <li class="ouryachts-list-item ouryachts-item">
        <div class="list-item-top">
          <picture>
            <source
              srcset="
                ./img/yacht/ouryachts/belle-desctop-plus.png    1x,
                ./img/yacht/ouryachts/belle-desctop-plus@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/yacht/ouryachts/belle-desctop.jpg    1x,
                ./img/yacht/ouryachts/belle-desctop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="list-item-top-img"
              src="./img/yacht/ouryachts/belle-desctop.jpg"
              alt="belle"
              width="345"
            />
          </picture>
        </div>
        <div class="list-item-bottom">
          <div class="list-item-info">
            <h3 class="list-item-info-title">belle</h3>
            <p class="list-item-info-text">luxury yachts</p>
          </div>
          <div class="list-item-prices">
            <ul class="list-item-prices-label">
              <li class="label-item">length</li>
              <li class="label-item">builder</li>
              <li class="label-item">built</li>
              <li class="label-item">guests</li>
              <li class="label-item">price</li>
            </ul>
            <ul class="list-item-prices-price">
              <li class="price-item">50m(155ft)</li>
              <li class="price-item">ISA</li>
              <li class="price-item">2012</li>
              <li class="price-item">12 in 6 cabins</li>
              <li class="price-item">€21,000,000</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <a class="ouryachts-link" href="#rent">Yacht rental</a>
  </div>
</section>
