/*Телефон*/

.footer_for_site {
    width: 335px;
    margin-top: auto;
    padding: 40px 30px 20px 30px;
    border-radius: 24px 24px 0px 0px;
    background: #1B414B;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/*Лого для футера*/

.logo_link_in_footer {
    height: 18px;
    flex-shrink: 0;
    color: #FBFBFB;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.42px;

}

/*Кнопки навігації для футера*/



.div_for_logo_and_nav {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav_buttons_in_footer {
    display: flex;
    gap: 4px;
    margin-bottom: 80px;
}

.body_buttons_in_footer {
    border-radius: 8px;
    border: 1px solid rgba(251, 251, 251, 0.30);
    background-color: rgba(251, 251, 251, 0.30);
    overflow: hidden;
    color: #FBFBFB;
    font-size: 9px;
    font-weight: 400;
    line-height: 1.30;
    text-transform: uppercase;
    width: 66px;
    height: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons_in_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 40px;
}

.body_buttons_in_footer:hover,
focus,
active {
    background-color: #FBFBFB;
    color: #1B414B;
}



/*Іконки*/

.svg_link {
    fill: #FBFBFB;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg_link:hover {
    fill: #FBFBFBCC;
}

.ul_for_icon_in_footer {
    display: flex;
    gap: 8px;
    margin: 0 auto;
}

/*Текст у футері*/

.text_for_footer {
    color: #FBFBFB;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.36px;
    width: 279px;
    margin: 0 auto;
    margin-bottom: 82px;
}

/*Останні лінки у футері*/
.table_for_links {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}

.div_for_link_in_footer {
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.last_links_in_footer {
    color: rgba(251, 251, 251, 0.40);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.36px;
}


/*Планшет*/
@media screen and (min-width: 768px) {

    .footer_for_site {
        width: 736px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .logo_link_in_footer {
        font-size: 20px;
        letter-spacing: -0.6px;
    }

    /*Кнопки навігації для футера*/


    .nav_buttons_in_footer {
        margin-bottom: 0px;
    }

    .div_for_logo_and_nav {
        display: flex;
        margin-bottom: 96px;
        justify-content: space-between;
        width: 100%;
    }

    .body_buttons_in_footer {}

    /*Іконки*/

    .ul_for_icon_in_footer {
        margin: 0;
    }

    /*Текст у футері*/

    .div_for_text_in_footer {
        width: 100%;
    }

    .text_for_footer {
        width: 640px;
        color: #FBFBFB;
        font-size: 32px;
        letter-spacing: -0.64px;
    }

    /*Останні лінки у футері*/

    .div_for_link_in_footer {
        justify-content: center;
    }

    .last_links_in_footer {
        font-size: 14px;
        line-height: 1.18;
        letter-spacing: 0.42px;
    }

    .table_for_links {
        margin: 0 auto;
    }
}

/*Десктоп*/

@media screen and (min-width: 1280px) {

    .footer_for_site {
        width: 1230px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .logo_link_in_footer {
        font-size: 20px;
        letter-spacing: -0.6px;
        margin-right: 0px;
    }

    /*Кнопки навігації для футера*/


    .nav_buttons_in_footer {
        margin-right: 311px;
        margin-left: 326px;
    }

    .div_for_logo_and_nav {
        display: flex;
        margin-left: auto;
        margin-bottom: 96px;
    }

    .body_buttons_in_footer {
        margin: 0;
    }

    /*Іконки*/

    .ul_for_icon_in_footer {
        margin: 0;
    }

    /*Текст у футері*/

    .div_for_text_in_footer {
        width: 100%;
    }

    .text_for_footer {
        width: 640px;
        color: #FBFBFB;
        font-size: 32px;
        letter-spacing: -0.64px;
    }

    /*Останні лінки у футері*/

    .div_for_link_in_footer {
        justify-content: center;
    }

    .last_links_in_footer {
        font-size: 14px;
        line-height: 1.18;
        letter-spacing: 0.42px;
    }

}

@media screen and (min-width: 1280px) {
    .footer_for_site {
        flex-direction: column;
    }

    .div_for_link_in_footer {
        display: flex;
        flex-direction: column;
    }
}