/* Hero Section Styles Mobyle */

.hero {
    max-width: 375px;
    padding-top: 198px;
    padding-bottom: 302px;
    background-image: url(../img/yacht/hero/hero-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -59px;
}

@media (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/yacht/hero/hero-bg-mobile@2x.jpg);
    }
}

.hero-title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.hero-text {
    color: #fbfbfbb3;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.17;
    max-width: 335px;
    margin-bottom: 34px;
}

.hero-link {
    background-color: #1B414B;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.02em;
    display: block;
    width: 141px;
    height: 46px;
    border: none;
    border-radius: 15px;
    margin: 0 auto;
    padding: 14px 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover,
.hero-link:focus {
    color: #1B414B;
    background-color: #FBFBFB;
}

/* Hero Section Styles Tablet */

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        padding-top: 204px;
        padding-bottom: 302px;
        background-image: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/yacht/hero/hero-bg-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -59px;
    }

    @media (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/yacht/hero/hero-bg-mobile@2x.jpg);
        }
    }

    .hero-title {
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.02em;
        max-width: 335px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
    }

    .hero-text {
        color: #fbfbfbb3;
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.17;
        max-width: 335px;
        margin-bottom: 34px;
    }

    .hero-link {
        background-color: #1B414B;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.28;
        letter-spacing: -0.02em;
        display: block;
        width: 141px;
        height: 46px;
        border: none;
        border-radius: 15px;
        margin: 0 auto;
        padding: 14px 32px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
