
h2 {
    color: #FBFBFB;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.02em;
    margin-top: 0;
    margin-bottom: 40px;
}


.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-field {
    margin-bottom: 18px;
}

.contact-form-label {
    display: inline-flex;
    width: 100%;
}

.contact-form-input {
    display: inline-flex;
    border-radius: 12px;
    height: 42px;
    border: 1px solid rgba(251, 251, 251, 0.20);
    background-color: transparent;
    padding-left: 18px;
    padding-right: 18px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
    width: 100%;
    color: #FBFBFB;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
}

.contact-form-input::placeholder,
.contact-form-comment::placeholder {
    color: rgba(251, 251, 251, 0.40);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
}

.contact-form-input:focus,
.contact-form-comment:focus {
    border-color: rgba(251, 251, 251, 0.50);
}


.contact-comment-wrapper {
    margin-bottom: 40px;
}

.contact-form-comment {
    display: block;
    width: 100%;
    height: 108px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    color: rgba(251, 251, 251, 0.40);
    border-radius: 12px;
    border: 1px solid rgba(251, 251, 251, 0.20);
    background-color: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
    padding-left: 18px;
    padding-top:14px;
    color: #FBFBFB;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
}

.contact-form-btn {
    display: inline-flex;
    padding: 14px 44px;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 46px;
    border: none;
    border-radius: 15px;
    background-color: #1B414B;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #FBFBFB;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.contact-form-btn:hover,
.contact-form-btn:focus {
    background-color: #FBFBFB;
    color: #1B414B;
}

.rent-img-container {
    display: flex;
    height: 412px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
    margin-top: 80px;
}

.rent-img-container img {height:100%;
    width:100%; 
    object-fit: cover;
    border-radius: 24px;}


@media screen and (min-width: 768px) {
    h2 {font-size: 48px; margin-bottom:50px;}

.contact-form-wrapper {
    max-width: 472px;
    margin-left:auto;
    margin-right:auto;
}

.contact-form-input {height:54px;}
.contact-comment-wrapper {margin-bottom: 50px;}

.contact-form-comment {height:116px;
padding-top:18px;}
.contact-form-btn {
    width: 194px;
}

.rent-img-container {margin-top:100px;
height: 534px;}

}

@media screen and (min-width: 1280px) {
.rent-container {display:flex; 
    flex-direction: row-reverse; 
    gap:50px; 
justify-content: flex-end;
align-items: center;
margin-right:0;
margin-left:0;
}

.rent-img-container {margin-top:0;}

.contact-form-wrapper {margin-left:0;
margin-right:0;
width:100%;}

}