/* ============== MOBILE REVIEW STYLES ============== */
.reviews-title {
  text-align: center;
  font-size: 28px;
  max-width: 335px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.reviews-text {
  opacity: 0.4;
  text-align: center;
  max-width: 335px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.reviews-list-avatar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  border-radius: 50%;
}

.reviews-list-item {
  display: block;
  max-width: 335px;
  padding: 32px 8px;
  border-radius: 24px;
  background: #fbfbfb;
}

.review-hidden-first,
.review-hidden-second {
  display: none;
}
.reviews-list-fullname {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
  color: #040306;
}

.reviews-list-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(4, 3, 6, 0.4);
}

/* ============== MOBILE REVIEW STYLES ============== */

/* ============== TABLET REVIEW STYLES ============== */
@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 48px;
    max-width: 704px;
  }

  .reviews-text {
    max-width: 571px;
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 75px;
  }
  .reviews-list {
    display: flex;
    column-gap: 32px;
    justify-content: center;
  }

  .reviews-list-item,
  .review-hidden-first {
    display: block;
    max-width: calc((100% - 32px) / 2);
  }
  .review-hidden-second {
    display: none;
  }
}
/* ============== TABLET REVIEW STYLES ============== */

/* ============== DESKTOP REVIEW STYLES ============== */
@media screen and (min-width: 1280px) {
  .reviews-title {
    max-width: 854px;
  }
  .reviews-list {
    column-gap: 26px;
  }

  .reviews-list-item,
  .review-hidden-first,
  .review-hidden-second {
    display: block;
    max-width: calc((100% - 52px) / 3);
    padding: 32px 28px;
  }
}

/* ============== DESKTOP REVIEW STYLES ============== */

@media screen and (min-width: 1440px) {
  .reviews-list {
      column-gap: 32px;
      padding-left: 50px;
      padding-right:50px;
    }

  .reviews-list-item,
  .review-hidden-first,
  .review-hidden-second {
      max-width: calc((100% - 64px) / 3);
      padding: 32px 36px;
  }

}